# Banco
POSTGRES_USER=radar
POSTGRES_PASSWORD=radar
POSTGRES_DB=radar_urbano
DATABASE_URL=postgresql://radar:radar@postgres:5432/radar_urbano

# Redis
REDIS_URL=redis://redis:6379

# Auth.js
AUTH_SECRET=troque-por-uma-string-aleatoria-de-32-bytes
AUTH_URL=http://localhost:3000
# OAuth opcional
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=

# App
NEXT_PUBLIC_MAP_STYLE_URL=https://demotiles.maplibre.org/style.json
